body {
    margin: 0;
    /*background-image: url("backgroundimage.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
	width: 100vw;
}

.event-banner {

    background-color: #020101;
    width: 100vw;
    height: 20px;
    color: white;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 4px;
    font-family: Montserrat, sans-serif;
}

img {
	width: 300px;
	height: 200px;
}

nav {
	/*background-color: #571C11;*/
}

.backgimg {
	width: 100vw;
	height: 100vh;
	filter: brightness(40%);
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.3s;
	/* Add padding if needed */
	/*background-color: #E8BC91;*/
	overflow: hidden;
	padding-top: 60px;
	transition: 0.3s;
}

.sidenav .menu-list a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #571C11;
	display: block;
	transition: 0.3s;
}

.menu-list a:hover {
	color: #F9C07A;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.menu-list a {font-size: 18px;}
}

.hambrgr-btn {
  width: 35px;
  max-width: 35px;
  height: 5px;
  background-color: #F9C07A;
  margin: 6px 0;
}